.pagination {
	display: flex;
	justify-content: center;
	gap: 8px;
}


.pagination-button {
	color: var(--gray-800);
}

.pagination-button.is-active {
	color: var(--black);
	background-color: var(--blue-100);
	border-color: var(--blue-300);
}

@media (max-width: 530px) {
	.pagination-button.is-page:not(.is-active),
	.pagination-button.is-ellipsis {
		display: none;
	}
}
