.post-relationship {
	gap: 16px;
}

.relationship-list {
	display: flex;
	align-items: center;
	gap: 8px;
	padding: 16px;
	margin: -16px;
	overflow-x: auto;
}

.relationship-item {
	padding: 4px;
	border-radius: 2px;
}

.relationship-item.is-current {
	background-color: lightgray;
}
