.post-relationship {
	display: flex;
	flex-direction: column;
	gap: 8px;
	border: 1px solid black;
	border-radius: 2px;
	padding: 8px;
}

.relationship-list {
	display: flex;
	align-items: center;
	gap: 8px;
	padding: 8px;
	margin: -8px;
	overflow-x: auto;
}

.relationship-item {
	padding: 4px;
	border-radius: 2px;
}

.relationship-item.is-current {
	background-color: lightgray;
}
