.post {
	background-color: lightgray;
	position: relative;
}


.post.is-parent, .post.is-child {
	border: 2px solid;
}

.post.is-parent {
	border-color: #35c64a;
}

.post.is-child {
	border-color: #ccaa00;
}

.post.is-parent.is-child {
	border-color: #35c64a #ccaa00 #ccaa00 #35c64a;
}


.post img {
	color: transparent;
}


.favorite {
	all: unset;
	appearance: none;
	color: #fff;
	display: flex;
	background-color: transparent;
	padding: 4px;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 2;
}

.favorite.is-favorited .favorite-icon {
	color: red;
}

.favorite:is(:hover, :focus) .favorite-icon {
	color: lightcoral;
}

.favorite-icon {
	stroke: #000;
	stroke-width: 2px;
}
