.tag {
	display: flex;
	align-items: center;
	gap: 8px;
}

.tag a {
	color: inherit;
	text-decoration: none;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.tag a:hover {
	text-decoration: underline;
}

.tag span {
	color: var(--gray-400);
}


.tag.is-general {
	color: var(--blue-700);
}

.tag.is-artist {
	color: var(--red-700);
}

.tag.is-copyright {
	color: var(--pink-700);
}

.tag.is-character {
	color: var(--green-700);
}

.tag.is-meta {
	color: var(--yellow-600);
}
