.container {
	width: 100%;
	position: relative;
}

.input {
	display: inline;
	width: inherit;
}

.container:not(:focus-within) .autocomplete-item {
	display: none;
}

.autocomplete-popup {
	background-color: lightgray;
	width: max-content;
	max-width: calc(100vw - (16px * 2));
	display: block;
	margin: 0;
	padding: 0;
	position: absolute;
}

.autocomplete-item-container {
	display: block;
}

.autocomplete-item {
	color: inherit;
	text-decoration: unset;
	display: block;
	padding: 1px 4px;
}

.autocomplete-item.is-active {
	background-color: lightsalmon;
}
