.container {
	display: flex;
	width: 100%;
}

.search-container {
	width: inherit;
	position: relative;
}


.input {
	width: inherit;
	border-radius: 4px 0 0 4px;
}

.button {
	border-left: 0px;
	border-radius: 0 4px 4px 0;
}


.search-container:not(:focus-within) .autocomplete-menu {
	display: none;
}

.autocomplete-menu {
	width: 100%;
	margin-top: 4px;
	padding-inline: 0;
	position: absolute;
	top: 100%;
}

.autocomplete-item {
	justify-content: space-between;
	gap: 8px;
}
.autocomplete-item.is-active {
	color: var(--white);
	background-color: var(--blue-600);
}

.post-count {
	color: var(--gray-600);
}
.autocomplete-item:is(:hover, .is-active) .post-count {
	color: var(--blue-200);
}
