.field {
	color: var(--black);
	background-color: var(--white);
	box-shadow: var(--shadow-sm);
	min-height: 32px;
	padding-inline: 8px;
	border: 1px solid var(--gray-300);
	border-radius: 4px;
}

.field:focus-visible {
	outline: 2px solid var(--blue-600);
	outline-offset: -1px;
	z-index: 1;
}

.field:disabled {
	color: var(--gray-800);
	background-color: var(--gray-100);
}

.field::placeholder {
	color: var(--gray-600);
}

.field::-webkit-search-cancel-button {
	display: none;
}
