.main {
	gap: 8px;
}

@media (min-width: 1024px) {
	.main {
		gap: 16px;
	}
}


.post {
	padding: 0;
}

.media-container {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 4px 4px 4px 4px;
	overflow: hidden;
}

.media {
	background-color: var(--gray-200);
	height: auto;
	max-width: 100%;
	color: transparent;
}

.actions {
	background-color: rgba(255, 255, 255, 0.85);
	display: flex;
	height: 48px;
	padding-inline: 16px;
	position: sticky;
	bottom: 0;
}


.tags {
	gap: 16px;
}

.tag-container {
	display: flex;
	flex-direction: column;
}

.tag-header {
	font-size: 14px;
	margin: 0;
}

.tag-listing {
	margin: 0;
	padding: 0;
}


@media (max-width: 639px) {
	.post, .tags, .relationship {
		border-radius: 0;
		margin-inline: -8px;
	}

	.media-container {
		border-radius: 0;
	}
}
