.media-container {

}

.media {
	height: auto;
	max-width: 100%;
	color: transparent;
	background-color: lightgray;
}

@media (max-width: 530px) {
	.media-container {
		margin-inline: -16px;
	}
}

.tag-container {
	display: flex;
	flex-direction: column;
}

.tag-header {
	font-size: 14px;
	margin: 0;
}

.tag-listing {
	margin: 0;
	padding: 0;
}

