.container {
	display: flex;
	flex-direction: column;
	gap: 16px;
	padding: 16px;
}

.header {

}

.body {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.aside {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.main {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

@media (min-width: 800px) {
	.body {
		flex-direction: row-reverse;
	}

	.aside {
		width: 250px;
		flex-shrink: 0;
		flex-grow: 0;
	}

	.main {
		flex-grow: 1;
		flex-shrink: 1;
	}
}


.search {
	display: flex;
}
.search-button {
	display: flex;
	align-items: center;
}
