.container {
	display: flex;
	flex-direction: column;
	gap: 16px;
	padding: 16px;
}

.header {

}

.body {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.aside {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.main {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

@media (min-width: 800px) {
	.body {
		flex-direction: row-reverse;
	}

	.aside {
		flex: 0 0 250px;
	}

	.main {
		flex: 1 1 auto;
	}
}


.search {
	display: flex;
}
.search-button {
	display: flex;
	align-items: center;
}
