.container {
	display: grid;
	grid-template-areas: 'main' 'aside';
	grid-template-columns: minmax(0px, 850px);
	justify-content: center;
	gap: 8px;
	padding: 8px;
}

@media (min-width: 1024px) {
	.container {
		grid-template-areas: 'main aside';
		grid-template-columns: minmax(0px, 850px) 330px;
		gap: 16px;
	}

	.container.is-flow {
		grid-template-columns: minmax(0px, 1fr) 330px;
	}
}

.main {
	grid-area: main;
}

.aside {
	grid-area: aside;
}

.main, .aside {
	display: flex;
	flex-direction: column;
}
